/*---------------------------------------------*\
  0. 定义颜色变量
\*---------------------------------------------*/
/*---------------------------------------------*\
  0. 字体
\*---------------------------------------------*/
/*---------------------------------------------*\
  0. 按钮
\*---------------------------------------------*/
.btn-lg {
  font-size: 24px;
}
.btn-md {
  font-size: 16px;
}
.btn-sm {
  font-size: 12px;
}
.btn-primary {
  color: #337ab7;
}
.btn-success {
  color: #3c763d;
}
.btn-warning {
  color: #8a6d3b;
}
.btn-danger {
  color: #a94442;
}
